<div id="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="row centered-text">

    <div class="small-12 large-8 large-centered columns">

      <h1>Pricing and FAQ</h1>
      <p>We want you to have the best experience in class so we make sure we do our best to let you know exactly what you get when you become a member.</p>
      <ul class="accordion" data-accordion>

        <li class="accordion-navigation">
          <a href="#panel1a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>What is HelloFlexi?</a>
          <div id="panel1a" class="content active">
            HelloFlexi is a monthly membership to the best boutique fitness classes in Melbourne. There are thousands of classes available to HelloFlexi members, including cycling, pilates, yoga, strength training, outdoor group fitness, bootcamps, martial arts, barre, boxing, spin and more.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel2a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>How much does it cost?</a>
          <div id="panel2a" class="content">
            For $118 a month HelloFlexi members get access to all the studios in the HelloFlexi network.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel3a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>How long do I need to commit?</a>
          <div id="panel3a" class="content">
            HelloFlexi does NOT require an annual/long-term commitment.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel4a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>When does my HelloFlexi membership start?</a>
          <div id="panel4a" class="content">
            HelloFlexi is a monthly recurring membership. Your HelloFlexi membership activates upon purchase and automatically renews on the same day of each month. For example, if you buy your HelloFlexi membership on 11 April your membership will renew on 11 May.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel5a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>How many classes do I get with a HelloFlexi membership?</a>
          <div id="panel5a" class="content">
            You can visit any studio in the HelloFlexi network up to 4 times per membership cycle. Members may attend a total of 30 classes during each membership cycle, across studios available on the HelloFlexi network.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel6a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>How do I book a class?</a>
          <div id="panel6a" class="content">
            Simply click on ‘Classes’ in the menu and then click the “Take Class” button next to the class to confirm your reservation. That’s it!
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel7a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>What do I need to take to a class?</a>
          <div id="panel7a" class="content">
            Don’t forget your water bottle and towel! You don’t need to bring a voucher or print out to class, however you will need to bring photo ID and be able to access your email to retrieve any email booking confirmation to verify your HelloFlexi booking.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel8a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>Can I make a reservation for a friend using my HelloFlexi?</a>
          <div id="panel8a" class="content">
            HelloFlexi is your own personal, all-access membership to the most amazing fitness studios around Melbourne - when you make a reservation through your HelloFlexi membership, your name will show up on the class roster at all of our venues. They will expect your arrival! While HelloFlexi is non-transferable, it’s a lot of fun taking classes with friends and we strongly encourage your friends to sign up too.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel9a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>What is the class cancellation policy?</a>
          <div id="panel9a" class="content">
            All cancellations must be made at least 12 hours before class time. Late cancellations will result in a penalty of $5 for each late class cancellation. If you're not going to be able to make it to a class, please make sure you email <a href="mailto:info@helloflexi.com">info@helloflexi.com</a> to cancel the booking or hit the cancel button.
            If you miss a class that you do not cancel, you will be charged a $5 no show fee. There's nothing worse than an empty class, so be sure to cancel your reservation in advance so that the studio has the opportunity to give your spot to someone else.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel10a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>How do I know if a class will be the right level for my abilities?</a>
          <div id="panel10a" class="content">
            The HelloFlexi team has tested classes at all of the studios on HelloFlexi to make sure they are suitable for all levels -- from beginners to advanced. We’ve found that in many cases, you get out of class what you put into it, and one class can be both challenging and rewarding to attendees with very different capabilities.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel11a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i> The class I want to take is sold out - what should I do?</a>
          <div id="panel11a" class="content">
            There are a limited number of spaces in each class so we recommend planning early and booking ahead of time to make sure you can get into the class and time you want.<br/><br/>
            We have thousands of classes so try searching for a similar class in the same suburb!
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel12a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>Are all of the classes at a studio available to book through HelloFlexi?</a>
          <div id="panel12a" class="content">
            We offer full schedules for the majority of our studios, but occasionally studios reserve certain class times only for their members. We will be adding more and more classes and studios to make sure there are spots available for everyone! Please contact us info@helloflexi.com if you'd like to see the schedule at one particular studio.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel14a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>What is the cancellation policy for HelloFlexi?</a>
          <div id="panel14a" class="content">
            You may completely cancel your membership under your account settings or via email to <a href="mailto:info2helloflexi.com">info@helloflexi.com</a>. If you are a regular monthly user, you must request to cancel your membership 3 days before the start of your next billing cycle in order to avoid auto-renewal for next month. Following any cancellation, however, you will continue to have access to HelloFlexi through the end of your current cycle.
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel15a"><i class="fa fa-caret-down"></i><i class="fa fa-caret-right"></i>Do you have a mobile app?</a>
          <div id="panel15a" class="content">
            We are currently working on a mobile app so you can book classes anywhere! Stay tuned.
          </div>
        </li>
      </ul>

      <p>Can’t find the answer to your question? Click <%= link_to 'here ', contact_path %> to contact us!</p>
    </div>
  </div>
</div>