
<div>
  <div class="row">
    <div class="large-8 columns large-centered">
      <div class="welcome-panel">
        <p class="welcome">Welcome!</p>

        <p>You’re now ready to start taking classes.</p>

        <p>Join your first class from any studio in the HelloFlexi network:</p>

        <%= link_to "Classes Page", classes_path, class: 'button radius', id: "welcome_button" %>
        <p>Enjoy<br>
          The HelloFlexi Team</p>

      </div>
    </div>
  </div>
</div>
